{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Welcome to the Battery Swapping System Kiosk!</h1>
</div>
<br />
<div class="d-flex justify-content-center flex-nowrap">
    <!-- <div class="container"> -->
    <a class="btn btn-primary btn-lg" href="/kiosk/user/login/" role="button">Login</a>
    <a class="btn btn-primary btn-lg ml-5" style="margin-left: 10px;" href="/kiosk/user/register/" role="button">Signup</a>
    <!-- </div> -->
</div>
{% endblock body %}