{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>User Dashboard</h1>
</div>
<div>
    <div class="col-sm-6 float-start"><p class="text-start"><i class="bi bi-box-arrow-right" style="font-size: 2rem;"></i></p></div> 
</div>
<br />
<div class="container">
        <div class="mb-3 mt-3 " >
            <label for="available batteries" class="form-label" style="margin-left: -70px;">Available Batteries in rack: </label>
            <label for="avb batteries count" class="form-label">{{ charged_batteries }}</label>
        </div>
        <div class="mb-3 mt-3 text-center">
            <label for="available balance" class="form-label">Available Balance: </label>
            <label for="avb balance" class="form-label">{{ available_balance }}</label>
        </div>
        <div class="mb-3 mt-3 text-center">
            <label for="available balance" class="form-label">Batteries allowed to withdraw: </label>
            <label for="avb balance" class="form-label">{{ allowed_batteries }}</label>
        </div>
        <br> 
        <div class="d-flex justify-content-center flex-nowrap">
            <a type="recharge account" class="btn btn-primary" href="{%url 'recharge_account'%}" value="recharge account">Recharge Account</a>
        </div> 
        <br>
        <div class="d-flex justify-content-center flex-nowrap">
            <a type="request battery" class="btn btn-primary" href="{%url 'request_battery'%}" value="request battery">Request Battery</a>

        </div>
        <br>
        <div class="d-flex justify-content-center flex-nowrap">
            <a type="submit battery" class="btn btn-primary" href="{%url 'submit_battery'%}" value="submit battery">Submit Battery</a>
        </div>
        <br>
        <!-- <div> 
            <div class="col-sm-6 float-end"><p class="text-end"><i class="bi bi-gear" style="font-size: 2rem;"></i></p></div> 
        </div> -->
</div>
{% endblock body %}