{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>User Registration Successful</h1>
</div>
<br />
<div class="container">
    <form id="registration_success_form" action="/kiosk/" method="post">
        {% csrf_token %}
        <img src="data:image/png;base64,{{ qr_img }}"
        class="rounded mx-auto d-block" alt="QRCode" />
        <button type="submit" class="btn btn-primary  mx-auto d-block">Go Back To Main Menu</button>
    </form>
</div>
{% endblock body %}