{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Withdrawal Request Success</h1>
</div>
<div>
    <div class="col-sm-6 float-start"><p class="text-start"><i class="bi bi-box-arrow-right" style="font-size: 2rem;"></i></p></div> 
</div>
<br />
<div class="container">
        {% csrf_token %}
        <div class="mb-3 mt-3 text-center" >
            <label for="available batteries" class="form-label" style="margin-left: -650px;">Battery Dispense Successful! </label>
        </div>
        <br>
        <div class="mb-3 mt-3 text-center">
            <label for="battery dispense statistics" class="form-label">Battery Dispense Statistics: </label>
        </div>
        <div style="text-align: center;">
            <ul style="display: inline-block; text-align: left;">
                {% for x in battery_stats %}
                <li>Battery {{ forloop.counter }}: {{ x }}%</li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <div class="mb-3 mt-3 text-center">
            <label for="charged cut" class="form-label">Amount charged for the above percentages of batteries: </label>
            <label for="charged cut" class="form-label">{{charged_amount}} </label>
        </div>
        <div class="mb-3 mt-3 text-center">
            <label for="availablebalance" class="form-label">Available balance: </label>
            <label for="availablebalance" class="form-label">{{available_balance}} </label>
        </div>
        <br>
        <div class="d-flex justify-content-center flex-nowrap">
            <a id="submit_battery_button" type="Submit Battery" class="btn btn-primary" href="{%url 'submit_battery'%}" value="Submit Battery">Submit Battery</a>
            <a id="user_dashboard_button" type="user_dashboard" class="btn btn-primary" href="{%url 'user_dashboard'%}" value="user_dashboard">Dashboard</a>
        </div>
</div>
{% endblock body %}