{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Withdrawal Request Failure - Insufficient Number of Availabe Batteries</h1>
</div>
<br />
<div class="container">
    <form action="/action_page.php" method="post">
        {% csrf_token %}
        <div class="mb-3 mt-3 justify-content-center">
            <label for="invalid choice" class="form-label">Invalid Choice! Please Select Valid Number of Batteries.</label>
        </div>
        <div class="d-flex justify-content-center flex-nowrap">
            <button type="submit" class="btn btn-primary" value="tryagain">Try Again!</button>
        </div>
    </form>
</div>
{% endblock body %}