{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Withdrawal Request Failure - Insufficient Balance</h1>
</div>
<br />
<div class="container">
    {% csrf_token %}
    <div class="mb-3 mt-3 justify-content-center">
        <label for="insufficient balance" class="form-label">You have insufficient balance.
            <br>Please Click recharge to Top up Balance.
        </label>
    </div>
    <div class="d-flex justify-content-center flex-nowrap">
        <a type="recharge account" class="btn btn-primary" href="{%url 'recharge_account'%}" value="recharge account">Recharge</a>
    </div>
    <br>
    <div class="d-flex justify-content-center flex-nowrap">
        <a type="back" class="btn btn-primary" href="{%url 'request_battery'%}" value="goback">Go Back</a>
    </div>
</div>
{% endblock body %}