{% extends "base.html" %}

{% block body %}
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Withdrawal Request Failure - Insufficient Balance</h1>
</div>
<br />
<div class="container">
    <form action="/action_page.php" method="post">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="invalid balance" class="form-label">Invalid Balance!</label>
        </div>
        <div class="d-flex justify-content-center flex-nowrap">
            <button type="recharge" class="btn btn-primary" value="recharge">Recharge</button>
        </div>
        <div class="d-flex justify-content-center flex-nowrap">
            <button type="goback" class="btn btn-primary" value="goback">Go Back</button>
        </div>
    </form>
</div>
{% endblock body %}